<div class="container-fluid">
    <div class="d-flex flex-column flex-md-row align-items-center pb-2 mt-2 mb-2 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img class="logo me-2" src="../static/veld/img/scissors.png" alt="">
        <span class="fs-4">OKSANA VELD</span>
      </a>

      <nav class="d-inline-flex mt-0 mt-md-0 ms-md-auto">
      {% for m in menu %}
        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url m.url_name %}">{{m.title}}</a>
      {% endfor %}
      </nav>
    </div>
    </div>

