.logo {
  display: block;
  height: 45px !important;
  margin: 0 auto;
    }

a {
    text-decoration:none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

li {
    list-style-type: none;
    margin-bottom: 10px; /* Отступ слева */
    padding-top: 10px; /* Отступ слева */

   }

ul {
    padding: 0; /* Убираем поля */
    margin-left: 10px; /* Отступ слева */
   }

.footer {
    background: #E1E1E1;
}

.footer-icon {
  display: flex;
  align-items: center;
}

.footer-icon img {
  width: 25px;
}